services:
  # --- Monitoring Stack ---
  grafana:
    image: grafana/grafana-oss:latest
    container_name: opentainer-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: opentainer-prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped

  # --- Database & Cache Stack ---
  postgres:
    image: postgres:15-alpine
    container_name: opentainer-postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  mongodb:
    image: mongo:latest
    container_name: opentainer-mongodb
    ports:
      - "27017:27017"

  redis:
    image: redis:alpine
    container_name: opentainer-redis
    ports:
      - "6379:6379"

  # --- Web & CMS Stack ---
  ghost:
    image: ghost:5-alpine
    container_name: opentainer-blog
    ports:
      - "2368:2368"
    environment:
      - url=http://localhost:2368
      - development__database__useNullAsDefault=true

  nginx:
    image: nginx:alpine
    container_name: opentainer-proxy
    ports:
      - "8081:80"

  # --- Utility ---
  dozzle:
    image: amir20/dozzle:latest
    container_name: opentainer-log-viewer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8888:8080"

networks:
  default:
    name: opentainer-demo-network
